# Kirby .htaccess

<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteBase /
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>

# Block access to the content folder
<IfModule mod_rewrite.c>
  RewriteRule ^content/(.*) - [R=404,L]
</IfModule>

# Block access to the site folder
<IfModule mod_rewrite.c>
  RewriteRule ^site/(.*) - [R=404,L]
</IfModule>

# Block access to the kirby folder
<IfModule mod_rewrite.c>
  RewriteRule ^kirby/(.*) - [R=404,L]
</IfModule>

# Prevent directory listings
Options -Indexes 